/* BEGIN style/body-main-and-html.css */

/* Only show dynamic elements if JavaScript is running. */
.if-js { display: none }
body.js-ok .if-js { display: inherit }

/* Define fallback styles for all page elements */
body {
    margin: 0;
    overflow: hidden;
    font: 1.8rem/1.2 Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05em;
    background: #000;
    color: #ccc;
}
body.light {
    background: #ccc;
    color: #000;
}
body.can-transit { /* prevent flash of color as the page loads */
    transition: background-color 0.3s, color 0.3s;
}

/* Prevents content from touching viewport edges, or squashing below 260px. */
main {
    text-align: center;
    padding: 4rem .5rem 0 .5rem;
    min-width: 260px;
}

/* Expand text and design elements (which all use 'rem') on large screens. */
html { font-size: 62.5% } /* 1rem = 10px */
#dev-size b#px10 { display: block }
@media (min-width: 1260px) and (max-aspect-ratio: 4/1), /* 720p HD TV (1280 x 720) */
       (min-width: 1900px) { /* 1080p Full HD TV, very letterbox */
        html { font-size: 81.25% } #dev-size b#px13 { display: block } } /* 1rem = 13px */
@media (min-width: 1900px) and (max-aspect-ratio: 4/1), /* 1080p Full HD TV (1920 x 1080) */
       (min-width: 2850px) { /* 3K TV, very letterbox */
        html { font-size: 112.5% } #dev-size b#px18 { display: block } } /* 1rem = 18px */
@media (min-width: 2850px) and (max-aspect-ratio: 4/1), /* 3K TV (2880 x 1620) */
       (min-width: 3800px) { /* 4K Ultra HD TV, very letterbox */
        html { font-size: 162.5% } #dev-size b#px26 { display: block } } /* 1rem = 26px */
@media (min-width: 3800px) and (max-aspect-ratio: 4/1) { /* 4K Ultra HD TV (3840 x 2160) */
        html { font-size: 237.5% } #dev-size b#px38 { display: block } } /* 1rem = 38px */

/* END style/body-main-and-html.css */
