/* BEGIN style/canvas-full.css */

/* Keep the main canvas filling the window. */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #012;
    z-index: -1;
}

/* END style/canvas-full.css */
