/* BEGIN style/canvas-square.css */

canvas, #text-canvas { /* landscape */
    position: fixed;
    margin: 0; /* for <pre id="text-canvas"> */
    top: .5rem;
    left: calc(50vw - 50vh);
    width: calc(100vh - 1rem);
    height: calc(100vh - 1rem);
    min-width: 30rem;
    min-height: 30rem;
    font: 24px/24px display, 'Arial Black'; /* Arial Black highlights missing chars */
    letter-spacing: 0;
    word-spacing: normal;
    z-index: -1;
}
canvas {
    border-radius: .5rem;
    background-color: #224;
}

@media (max-aspect-ratio: 8/7) { /* portrait */
    canvas, #text-canvas {
        top: 6.5rem; /* neatly under any .warn */
        left: .5rem;
        width: calc(100vw - 1rem);
        height: calc(100vw - 1rem);
    }
}
@media (max-aspect-ratio: 8/7) and (min-aspect-ratio: 13/16) { /* square */
    canvas, #text-canvas {
        top: 6.5rem;
        left: calc(50vw - min(40vw, 40vh));
        width: calc(min(80vw, 80vh));
        height: calc(min(80vw, 80vh));
    }
}

/* END style/canvas-square.css */
