/* BEGIN style/dev.css */

/* Helpers for app development. */
#dev-size { display: none; color: #fff }
body.show-dev-size #dev-size { display: block }
#dev-size b { position: fixed; display: none; top: 0; right: calc(50vw);
    width: 11rem; padding:0 .5rem .5rem; font-weight: 400; z-index: 1 }
#dev-size b::before { content: '10 rem: '; font-size: 0.5em }
#px10 { background: #800 }
#px13 { background: #960 }
#px18 { background: #470 }
#px26 { background: #088 }
#px38 { background: #069 }

/* END style/dev.css */
