/* BEGIN style/elements-inline.css */

/* Links. */
/* Note that buttons like `<a class="btn" ... </a>` are partly styled here. */
a, a:visited {
    color: #9ff;
    text-decoration: none;
    outline: 0.2rem solid transparent!important; /* Firefox */
    transition: outline-color 0.3s, background-color 0.3s, color 0.3s;
}
a:hover { color: #cff }
a:focus { outline-color: #099!important }
body.light a, body.light a:visited { color: #077 }
body.light a:hover { color: #0cc }

/* END style/elements-inline.css */
