/* BEGIN style/elements-block.css */

/* Headings. */
h1, h2, h3, h4, h5, h6 {
    margin-left: .1em; /* fix center alignment (an issue with the font?) */
    text-transform: uppercase;
    font-family: display, serif;
    letter-spacing: .1em;
    word-spacing: -.2em;
}

/* END style/elements-block.css */
