/* BEGIN style/fonts.css */

/* .CLOP */
@font-face {
    font-display: swap;
    font-family: logo;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAAAO8AA4AAAAAB+QAAANrAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGhYb\
    IBwwBmAAVBEICoJEghALFAABNgIkAxgEIAWHNAc0G6sGEVWcG8m+OLCNmQ/VocKUJ2nLOIZrlXDOvUa0GBrhkQ/2CCK7p6+e3YPICHJ2SWx/SJH4eD5\
    vb393IlOFKEtZbuOalMP/1py7KRVVYvVqrAj8U4FSwPu/mqYr2DEgMv+A+V3XofuWuijPE++FWUBZvPkeQIHGgaQA3g6qlgQTCJQGJCEUFwIl1VZXDB\
    46erLicigEBEpqra0MuVd52cYlq9RdvWDzWnWrewyyVDtOKUI6kqZjlG/ZmKtjtCaVKlKiCEmOAIApo6aN1V9947MtBWRb/IyA+DVdR30ZEjJUlglUl\
    uuP0opLcvW1Ncho4wtJeca5UPjyO++++rbWhKBvL1ACVAw/MRsbADlI1T9TSFKe55WLli9fumSZ0kXKzM9LFVmkZBx9J7Ld75YqpeSR69KuG2R1Xl5K\
    +eyXb5XMC7B59G3pg5slce/orci+RflUskhpzTuUSrwgHm++vrn5sNaftNZv0eLFiz2dPXnK8imzJ087MfpSE/VO1NPk0ugTnlxb/+m163VvT5aSzad\
    VIMPo1MtkqHeFzH9jd2dPGT15eflp129MmTpywsapVxq0serGpg2b7gcC4cEvVaZ0nFeu92/FS2XfwWuNj/4Erz/+p49She7Zz9k0FJdAMPam8u4AuG\
    owfcyYDP4/hY+ssclQMwVKGK6IpjJJQx1twjYkgfIeCsB2BAjlbBcgKeaYAJlWzgqQYyiijJtQVBXP7pdV02cykZfA3/6OIdSNXyEpmypCRvUD20VCO\
    9kKw82pi+nl6p94xrn+GStzR9p1mF1EwF+Lqt53OVVAjIC0GT+54yncEMFlqJ4P6Zux8qAfHgxln5zFFr/cxacxtG5Y45PLWFvosdwodWJs0ykC1RE5\
    sy72Zwa+43khRAaZkN0gsb0nvoCz0GflkttMj8t1c4Qaq04mkRoADacDAY8vYAFHVKeDMj3wtWpI4ETq66S6Ks3b9VIjBYRRfVkazgHqDXa40tccHKq\
    A2TzGQQWdhQeZQdo+bP83S52JJIALVBuAO6oiAdVHiurIGPvEK3GputWjsGmDxKjEuv4ZPJSyNlDXZ0bcGQQ0E6EYpoXIvwk43LC0XeBzeDxh/ZKT3D\
    67q7ypwfAzCZerx3UyjUHP0cuUHKiTcD1cXG2BwhkBI1xio3TGpnCroBA=') format('woff2');
    unicode-range: U+002E, U+0043, U+004C, U+004F-0050;
}

/* [SPACE]*+-./0123456789<=>?ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^▲▼ */
@font-face {
    font-display: swap;
    font-family: display;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAAAqYAAwAAAAAFIQAAApIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGhYG\
    YABkEQgKmjiTcQtwAAE2AiQDdAQgBYcZB4EgG/kPUZROVpfsqwPekP5JwvFkVzStYVG8XVu76LiSorKZcL4QYREMfOJphCSzPMCv4/tzBwuqwW7wQ1x\
    Bbdq6ifggfsDT/rWenYltJqcd5FRbOjpn5O4+0oNzNno1R+5RYHcvly+Qa/0bVc9JHhDTM5cCWlKAwtH4d7WAkkAS/N+4+rPbnC8tHPrBWUiQNTgi7u\
    un/DesAR0cyiHwc5pzYpFHEDar9nuzf4PgEocbYCFJuqje3fd+ZR6EgDeAKl/4+LhESKQDIOEvJ0+dkudkOJFXbPqOyzqPLrmJJyV/8EwBKCZrjLCUQ\
    u3N3ARYm/FA2tz8A0KN2hPFz2FxRFhYkkl1pKVUANiRtTybIfmJMtivVv3dBfxFQWyjk0jw6mrZ0khMKtfaLDeWK4dKqc0BHO8rQpyq+hvr7/7/vye7\
    D3/RsH/z/xW33MCgm3WzD1gyCn/syPBv/XQTgZ4gngPSHKAGUEsPTMpD7nJqLjt2OLGiBricAVvkgexiWPhnVIglxrG+LEl0vKtVj7PT6cZ7NpsB+9L\
    N8aDZnujvuH983M36m4nfkhnnusIss2lrYp7uaznFL9crT4BnMUhUDRPSOdJYTHm4TDIQ/pBGiubKDsxDUf6uDHlqHyr7O4rO9qprsG3Ak7TAEhUL2+\
    cgc6zsAHr6XXKTfV18m6MvvM68KbrLcieJnmpMi+p3CYHQjLHNuINcTG2wNtTQQgxVk3TuBQI+P1Yqa3oIIRAwxryzVK3mKiVaVy99auMjApyYibVx6\
    +WpeLz92dHYOPA0fP/43TJxMUUNcx44iyGQIpZBk2AdfSZ8w0q49CiVNQsc1XgQXaOp7aWX1DmcLFWp6uqWls7WpuSc6Xq+e3//fJ2M2EEG1WIcu0Mn\
    i1KVw+Ag8QqXhyaV8wvFovAtcumrPRNyFPMAlddVW8nT5biKC/RFt+31driaCMEzyEkWIrDaaxAQwFu8WqRSAZ69hqNzih6FkCZ07AsdcDJxWATYWdB\
    mB9ncEr1qCbiags3TBSKn3D4KhdWB1BGkraEaDWv0EI4SMmFj9qFnEC41T+MTOKnxOZyVsGikialvh8RtRYFVVUa4aSyrOLYmk0d5mXXHWBEhN5nXGB\
    dS+n0WS0gmMeWVSiDq46FG1Tt+l91wHh7oIFE9ueUe0xdjR9PhqEjGVaix5kBwmMBJH/t1U0ipZmR1EES27WjTwPg0b0ktOMGUPelAShgypJ6aCoga6\
    rKtqVzHoamPehqVne1p1ciYwt2jwzil6FHjGo2HdQe5WLwO49oCeztzhOorBX6s2uuYmvOgdXFrSFpaCJAadlC9rU1XA5C6W1sN0+o22a9L+x/UvOBH\
    sJsBM+MxA5v9Jg5SXTBYKTwtUbQYscIOJ8eA7ZEuTCuhIVorrwL77pEaEkjxoM2EHW6d+A4wW1Fq+ufVNU7qE9wPfpOndw9S1w4pGGAgaSCCT1Pq2ed\
    x3WCRZ1xwpG2SX5Z1VlSF6B9hGfrzumO6Qu0rqU/fzj9BstJ2CKzqC3/GLSdCXIpNTHkWi6sS0WDMtztVnfbPjNLDmmNdOgVd26hXOw6o+urn9I5cQy\
    /snVSdV706d/lFKtsI3PPgdI6G1gAjPGtd2FzYAua7cvCtO66u/+e8+5f/UZ9+89Epk3L6Kogaej8NSAonemj1uePq1Uj9woWBpL8d+vS+juL1E1r7R\
    1w2noc6RKZAV+HiR3nAOhoE8YNLV9e24VHnisSlidGJ4onzlgRVSJJTIloj139+stz8uvHIsJasjKyovWdnaW170axzZYBrgETqL3VTdWNffrnnwhm2\
    Wf1ll5PKnrRhnoTh+nUHiUv15KaP5i+vDggpzYjJEDGkmhjcY1r51IJhRbvg0S1f4MeXu8AC95PqJj/yxD1vntevGn9Ew9CM++bTqYVF01Im6ZVQQ4D\
    Ku52ueNuGftr9IP9EDW529fU7oWElFEoBPvyuZf08SH+jfRmahIW/ekM6RRUf05ykuysHLxpPVy+hq8YXanerdoxpgziobDzQYXqlWvDeUajLVEHVNu\
    rZ2uPsD/S5d9ufUcVGZSsOS/bT0v4cllc5/QUrr2PUzPQfExw6TIrkAUedKsah8qag3UUIgndWgG4K97NQ/Gt2u60uf9D+2pZ0BZwBr1S4d5Hg7WEN7\
    L74580q7/3DmhsD0ypr0Yi3z9ww9Xjvhs41khGzsD+HAykGfgqM14tkV85rL4bQtP2Z3jXKKl+NfgrkT9U+n9O7IbQnXC7wyqFOL1q+8ljhVWh41ZVL\
    Tg/7zx9JI3GbuoAuBSmOJ2mg63hqJW3QGfy/Kvd/3yOUVZAxnH56jDYUF9O6M6NbB2TfCoyEth3/SM87dJg2+AfZua6cWxYkaXU5WI4guMGUXI/anW0\
    9I3tzcjoIzBR75MHhmb0X3XqzwehqnpxKBjVbUfjhppgp2GB4hGb7OokMcj/84X3uvmHDscXr8KQ+5+//gEIp7N67+p/NX186t/Tv4E945kUH+I+MnZ\
    RbU12Umw9eVwt1nyPoOkx9npwCXOyXmobWeRHuhGddeFqKnzphTAv12+zVeliwtVEDL45kq4Y37TZdMG2mkxmBMzgx9QcufJlcsXQNX9YP6ETv2xOm/\
    Bf5FugwHXQA2ClsKG2mqb6ewg4dtFrqdO9EOvmELmK+E72VTcuKw09UDWw4WvkDYq4lD3sbckDDvlpSe/W+iVo4ANqkQDfIP5pDx1eXWtEQlAeheDON\
    ClRV1yZsyATUqjAwfPjA3xN9kotQK4mvxSFBqZJglgDP/oYHDedmTkjvAyEByoBxWuP2ZJOT/0N0IM2ACwluFyygKMj766/PY40Mvyb8BAB3Tz9cCMD\
    L9ZvVfxc/JF0KAlAIGyCAgv4i8Xcx6zQ2mrvjBKDLkSJ1Qdz+sFhXjgVqFB8ltaiRowycMYS1xC6wwK0BAXZ8hJ7EK/8aF8kba4LTnp00ZYrROoDNCj\
    w5WZDxmSDGBSoFD9BZTaPFAx4nHhFw4zEDvgUTntITzgswIOWF6cnhRSHKeTFO+nlxHP8OlhCMtrGsJG3t5ILOWXSD42yGYSfnsA2eBbmcxzJgxD8LL\
    GY6ga1cT3zI4/piwzFugB+ZXYZUEf80R14fIP/GirjW21CrrEUVjp2cmbdrVaaL2OZl2mYURYxA//V4G15ee5qyvkPVWXcSaIQWUcNz7ygcG/3UCbE8\
    LTOG7SgztQAb33rUzXWiczVX9Ie53xOkmrXo1aaekkoHRCAxVBD/RmME5Ix63yTKIWrtWmgzDmtRF2PzyJs7qQev030hbmMReUvtP/VmTRAoFOugRfl\
    vzVPJiFhv0S6SiIg4YR34odcJgGvWiA1gl+hUHHzCFT82ArGipheImEgO2i7H3NNMqQr4K46kfsHqqDFqbtcxXYDDMqSSSpQlv61my0r63wWLgaCs9W\
    W3B8aAIWMmTJkxZ8GSFWs2bNmx5wThzIUbdx48efHmw5cffwFExFCBggQLESpMuAiRokSLEStOPCxwhIqXp9bXKjtb4ipZEwAA') format('woff2');
    unicode-range: U+0020, U+002A-002B, U+002D-0039, U+003C-3F, U+0041-005E, U+25B2, U+25BC;
}

/* END style/fonts.css */
