/* BEGIN style/navigation.css */

/* Navigation. */
body > nav { position: fixed; line-height: 0; text-align: left }
#breadcrumbs {
    top: 2rem;
    left: 1rem;
    font-family: display, serif;
    letter-spacing: 0.1em;
    word-spacing: -0.2em;
}
#top-right { top: 2rem; right: 1rem }
#too-narrow { position: fixed; display: none; }
@media (max-width: 300px) { #too-narrow { display: block } }

/* Breadcrumbs. */
#breadcrumbs { margin-left: 0.5rem; white-space: nowrap; font-size: 0.75em }
#breadcrumbs a { position: relative; padding: 2rem 0 1rem 0; z-index: 1 }
@media (min-width: 400px) { #breadcrumbs br { display: none } }

/* Logo. */
.logo { font-family: logo, serif; letter-spacing: 0.1em; font-size: .9em }
.logo-1 { margin: 0 -.4rem 0 -.1rem } .logo-2 { margin-left: -.3rem }

/* Stack in one column in portrait, or two columns in landscape. */
#actions { bottom: 2rem; left: 1rem }
@media (min-aspect-ratio: 8/7) { #actions br.p-only { display: none } }

/* END style/navigation.css */
