/* BEGIN style/sidebar.css */

/* The Sidebar is wrapped in a zero-width container. */
aside { position: fixed; top: 0; bottom: 0; right: 0 }

/* Container for the 'Hide the sidebar' button */
aside > nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3.18rem;
    height: 3rem;
    transform: translateX(10rem);
    transition: transform .5s;
    z-index: 3;
}
body.show-sidebar aside > nav { transform: translateX(0) }

/* Section. */
section {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 27rem; /* 270px wide in a 320px viewport */
    opacity: 0;
    transition: opacity .3s, transform .5s;
}
body.show-sidebar section {
    transform: translateX(-27rem);
}
body.show-section-dev section#dev,
body.show-section-help section#help,
body.show-section-like section#like,
body.show-section-list section#list,
body.show-section-user section#user {
    opacity: 1; z-index: 2; }

/* Block elements */
section h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    height: 5.2rem;
    background: #321;
}
section div {
    position: absolute;
    box-sizing: border-box;
    top: 5.2rem;
    bottom: 0;
    padding: 0 1.5rem 2rem 1rem;
    width: 27rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* These elements' ids are hash-fragments, so need extra `padding-top`. */
section div p:first-of-type, section div h3 { margin-top: 0; padding-top: 2rem }

/* h4 is used for the contents nav, near the top. */
section div nav h4 { margin: 0 }

section#dev  div { background: #113 }
section#help div { background: #311 }
section#like div { background: #221 }
section#list div { background: #131 }
section#user div { background: #022 }

/* END style/sidebar.css */
