<!-- src/pages/templates/v0/homepage.html -->
<!DOCTYPE html>
<html lang="{{languageCode}}">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="Loop.Coop Clump Build">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg viewBox='-4 -4 8 8'
        xmlns='http://www.w3.org/2000/svg'><circle r='4' fill='%239ff'/></svg>">
    <title>{{title}}</title>
    <style>
@import url('../style/core.css');
@import url('../style/fade-in.css');
    </style>
</head>
<body>
<script>document.body.className='js-ok'</script>
<script>setTimeout(function(){document.body.classList.add('can-transit')}, 200)</script>

<!-- Notifications. -->
<noscript class="warn">{{t.noscript}}</noscript>
<div id="too-narrow" class="warn">{{t.widen_your_window}}</div>

<!-- Navigation. -->
<nav id="breadcrumbs">
    <a class="logo" href="https://loop.coop/" title="{{t.nav_title_ldc}}"
        >L<span class="logo-1">OOP</span>.<span class="logo-2">COOP</span></a
    ><span> / CLUMP</span><!-- Safari needs " / CLUMP" inside the <span> -->
</nav>

<!-- Main content. -->
<main>
{{content}}
</main>

<!-- Create a minimal instance of the app, with just the core functionality. -->
<script>!async function (){
    const { App } = await import('../js/app.js');
    const { DevCore } = await import('../js/plugins/dev-core.js');
    const { UserCore } = await import('../js/plugins/user-core.js');
    const app = new App({
        plugins: [
            new DevCore(), // show or hide dev tools
            new UserCore(), // apply user's choice of day/night theme
        ],
    });
    app.init();
}()</script>

<style>@import url('../style/fonts.css');</style>
</body>
</html>