<!-- src/pages/templates/v1/homepage.html -->
<!DOCTYPE html>
<html lang="{{languageCode}}">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="Loop.Coop Clump Build">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg viewBox='-4 -4 8 8'
        xmlns='http://www.w3.org/2000/svg'><circle r='4' fill='%239ff'/></svg>">
    <title>{{title}}</title>
    <style>
@import url('../style/canvas-square.css');
@import url('../style/core.css');
@import url('../style/dev.css');
@import url('../style/fade-in.css');
@import url('../style/sidebar.css');
    </style>
</head>
<body>
<script>document.body.className='js-ok'</script>
<script>setTimeout(function(){document.body.classList.add('can-transit')}, 200)</script>

<!-- Notifications. -->
<noscript class="warn">{{t.noscript}}</noscript>
<div id="too-narrow" class="warn">{{t.widen_your_window}}</div>

<!-- Developer. -->
<div id="dev-size"><b id="px10">100px</b><b id="px13">130px</b>
<b id="px18">180px</b><b id="px26">260px</b><b id="px38">380px</b></div>

<!-- Navigation. -->
<nav id="breadcrumbs">
    <a class="logo" href="https://loop.coop/" title="{{t.nav_title_ldc}}"
        >L<span class="logo-1">OOP</span>.<span class="logo-2">COOP</span></a
        ><span> / CLUMP</span><!-- Safari needs " / CLUMP" inside the <span> -->
</nav>
<nav id="actions" class="can-min clickable">
    <a class="btn btn-dev" href="#/0/dev" title="{{t.nav_title_dev}}">
        $ <i>DEV</i></a><br>
    <a class="btn btn-help" href="#/0/help" title="{{t.nav_title_help_homepage}}">
        ? <i>HELP</i></a><br class="p-only">
    <a class="btn btn-like" href="#/0/like" title="{{t.nav_title_like_homepage}}">
        * <i>LIKE</i></a><br>
    <a class="btn btn-list" href="#/0/list" title="{{t.nav_title_list}}">
        = <i>LIST</i></a><br class="p-only">
    <a class="btn btn-user" href="#/0/user" title="{{t.nav_title_user}}">
        ^ <i>USER</i></a>
</nav>

<!-- Sidebar. -->
{{content.topHtmlComment}}
<aside>

<nav id="sidebar-topnav">
    <a class="btn btn-hide" href="#/0" title="{{t.sidebar_title_hide}}">/</a>
</nav>

<section id="dev">
{{content.dev}}
</section>

<section id="help">
{{content.help}}
</section>

<section id="like">
{{content.like}}
</section>

<section id="list">
{{content.list}}
</section>

<section id="user">
{{content.user}}
</section>

</aside>

<!-- The main canvas, and its text-overlay. -->
<canvas></canvas>
<pre id="text-canvas"></pre>

<!-- Create a minimal instance of the app, with just the core functionality. -->
<script>!async function (){

    // Load the WebAssembly code. A .wasm file link is used during development,
    // replaced by an inline Data URL in the production app.
    const wasm = await import('/dist/example_anim_repl/web-browser-wasm/example_anim_repl.js');
    await wasm.default('/dist/example_anim_repl/web-browser-wasm/example_anim_repl_bg.wasm');

    // Add `#[wasm_bindgen(constructor)]` above Rust's `new()` method, to call
    // `new wasm.ExampleAnimRepl()` instead.
    const animRepl = wasm.ExampleAnimRepl.new('-c 50 -r 12 -h');
    animRepl.tick(678, "");
    console.log(animRepl.render());

    const { App } = await import('../js/app.js');
    const { CanvasAndRust } = await import('../js/plugins/canvas-and-rust.js');
    const { DevCore } = await import('../js/plugins/dev-core.js');
    const { Doctitle } = await import('../js/plugins/doctitle.js');
    const { Dom } = await import('../js/plugins/dom.js');
    const { Route } = await import('../js/plugins/route.js');
    const { Keyboard } = await import('../js/plugins/keyboard.js');
    const { Params } = await import('../js/plugins/params.js');
    const { SidebarCore } = await import('../js/plugins/sidebar-core.js');
    const { UserCore } = await import('../js/plugins/user-core.js');
    const app = new App({
        plugins: [
            new DevCore(), // show or hide dev tools
            new CanvasAndRust(), // manages the <canvas> element and Rust app
            new Doctitle(), // updates the page's `document.title`
            new Dom(), // stores handy references to various DOM elements
            new Keyboard(), // manage qwerty keyboard input
            new Params(), // common sidebar functionality
            new SidebarCore(), // common sidebar functionality
            new Route(), // manage the URL fragment, for dynamic routes
            new UserCore(), // apply user's choice of day/night theme
        ],
        wasm,
    });
    app.init();
}()</script>

<style>@import url('../style/fonts.css');</style>
</body>
</html>